

.section_container__content{
  max-width:1440px;
  grid-column-start:1; 
  grid-column-end:5; 
  grid-row: 1/span 2; 
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr;
z-index: 4; 
 width:100%;
 justify-self:center;
 margin-top:-4rem;
 height:100%;
margin-bottom:6rem;
 @media(max-width:$breakpoint-desktop-x){
  grid-template-rows: .6fr 1fr 1fr 1fr;
  margin-top:-2rem;
 }

 @media(max-width:$breakpoint-tablet){
  grid-template-rows: .35fr 1fr 1fr 1fr;
 }
 @media(max-width:$breakpoint-mobile-xx){
  grid-template-rows: .3fr 1fr 1fr 1fr;
 // margin-top:-2rem;
 }

 
}



