
$breakpoint-mobile:460px; 
$breakpoint-mobile-x:540px; 
$breakpoint-mobile-xx:700px; 
$breakpoint-tablet:770px; 
$breakpoint-desktop:960px; 
$breakpoint-desktop-x:1200px; 
$breakpoint-desktop-xx:1440px; 



  