.footer__container{
display: -webkit-box;
display: -ms-flexbox;
display: flex; 
-webkit-box-orient:vertical; 
-webkit-box-direction:normal; 
    -ms-flex-direction:column; 
        flex-direction:column; 
-webkit-box-pack: justify; 
    -ms-flex-pack: justify; 
        justify-content: space-between; 
width:100%; 
margin:auto; 
padding-left:5%; 
padding-right:5%; 
padding-top:1%; 
margin-bottom:2%;
@media(max-width:$breakpoint-mobile-x){
width:90%;


             }
}

.footer__row1{
display:-webkit-box;
display:-ms-flexbox;
display:flex; 
-webkit-box-pack:justify; 
    -ms-flex-pack:justify; 
        justify-content:space-between;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
    -ms-flex-direction:row;
        flex-direction:row;
@media(max-width:$breakpoint-mobile-x){
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;

             }
}
.footer__social_media_wrapper{
  justify-self:flex-end; 
  display:-webkit-box; 
  display:-ms-flexbox; 
  display:flex; 
  -webkit-box-pack:space-evenly; 
      -ms-flex-pack:space-evenly; 
          justify-content:space-evenly;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row; 
}

.footer__social_media_section{
width:50%;
@media(max-width:$breakpoint-mobile-x){
  width:100%; 

              }
}

.social-media__icon{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
    -ms-flex-direction:column;
        flex-direction:column;
//width:100%;
-webkit-box-pack:center;
    -ms-flex-pack:center;
        justify-content:center;
-ms-flex-line-pack:center;
    align-content:center;
  
  border: solid 4px #de6926; 
 height:3.2rem;
 width:3.5rem;
  vertical-align:top;
  margin-right:.5rem;
  margin-top:1rem;
  @media(max-width:$breakpoint-mobile-x){
  height:3.2rem ; 
width:3.4rem;
  
                }
                @media(max-width:$breakpoint-mobile){
                  height:2em ; 

                  width:2.4rem; 
                  
                                }
}
.social-media__icon svg{
height:2.2rem;
width:2.5rem;
-ms-flex-item-align:center;
    align-self:center; 
justify-self:end; 
@media(max-width:$breakpoint-mobile-x){
  height:2rem ; 
width:2rem;
  
                }
                @media(max-width:$breakpoint-mobile){
                  height:1.3rem ; 

                  width:1.3rem;
                  
                                }

}

.social-media__icon:hover {
  background-color: #DF6705;
path{
  fill:$white;
}
}

.social-media__icon a{
  display:inline-block;
  padding-top:1rem;
  padding-bottom:1rem;
  padding-left:.5rem;
  padding-right:.5rem;
}



.footer__social_media_header{

  -ms-flex-item-align:center;

      align-self:center;
  justify-self:start;

  font-family : Play;
  font-size : 1.4rem;
  color : #D0DCE9;

 
}

.footer__breadcrumbs_section{
  width:40%; 
  -ms-flex-item-align:center; 
      align-self:center; 
  @media(max-width:$breakpoint-mobile-x){
   width:100%; 

               }
}
.footer__breadcrumbs_wrapper li{
  @media(max-width:$breakpoint-desktop){
   padding-bottom:1rem;
               }
}
.footer__breadcrumbs_wrapper li a:active{
color:#D0DCE9;
}
.footer__breadcrumbs_wrapper ul{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex; 
  -webkit-box-orient:horizontal; 
  -webkit-box-direction:normal; 
      -ms-flex-direction:row; 
          flex-direction:row;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  text-transform:uppercase;
  padding:0; 

 
  @media(max-width:$breakpoint-desktop){
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
       -ms-flex-direction:column;
           flex-direction:column;
   margin:auto; 
   text-align:end;
              }
              @media(max-width:$breakpoint-mobile-x){
                -webkit-box-orient:horizontal;
                -webkit-box-direction:normal;
                    -ms-flex-direction:row;
                        flex-direction:row;
                margin:auto; 
                text-align:center;
                margin-top:1rem;
                           }

  }
 

 


.footer__breadcrumbs_wrapper a{
   position:relative;
  &:hover{ color:$white }
}

 
.footer__row2{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex; 
  -webkit-box-pack:justify; 
      -ms-flex-pack:justify; 
          justify-content:space-between;
          
  margin-top:1%;
  
  }
  .footer__copyright_wrapper{
    justify-self:flex-end; 
   
    -webkit-box-pack:space-evenly; 
   
        -ms-flex-pack:space-evenly; 
   
            justify-content:space-evenly;
   -webkit-justify-content:space-evenly;
    -ms-flex-line-pack:center;
   
        align-content:center;
  }
  

  .footer__copyright_section{
    -ms-flex-item-align:end;
        align-self:flex-end; 
padding-bottom:1%; 
  }
.footer__copyright_wrapper{

  justify-self:center;
  -ms-flex-item-align:center;
      align-self:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;


}
.footer__copyright_owner{
  font-family : Play;
  font-size : 1.4rem;
  color : #D0DCE9;
 
 
  
}


.footer__copyright_rights{
  font-family : Play;
  font-size : 1rem;
  color : #D0DCE9;
  font-variant:small-caps;

}

.footer__logo_section{
  width:40%; 
  text-align:end; 
}

.footer__logo {
  max-height:10rem;
  max-width:10rem;
  height:10rem;
  width:10rem;
  -ms-flex-item-align:center;
      align-self:center; 
  justify-self:end; 
  @media(max-width:$breakpoint-mobile-xx){
 width:5rem;
 height:5rem;
               }
  }